.button--secondary {
    transition: box-shadow 0.1s;
    height: 2.5rem;
    display: inline-flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    border: 1.5px solid #4DFFDF;
    padding: 0 1.5rem;
    cursor: pointer;
    background-color: transparent;
}

.button--secondary:hover {
    box-shadow: 0 0 20px 0 rgba(77, 255, 223, 0.2);
}

.button--secondary-title {
    color: #4DFFDF;
}