.button--primary {
    transition: box-shadow 0.1s;
    height: 2.5rem;
    display: inline-flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    background-color: #4DFFDF;
    border-radius: 1.875rem;
    padding: 0 1.5rem;
    cursor: pointer;
    border: none;
}

.button--primary:hover {
    box-shadow: 0 0 20px 0 rgba(199, 223, 218, 0.2);
}

.button--primary-title {
    color: #0d1020;
}

.googleLogo {
    height: 1.25rem;
    margin-right: 6px;
}